@import './config/_colors.sass';
@import './config/_easing.sass';
@import './config/_animations.sass';

html {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $white;
}

html, body {
  height: 100%;
  max-width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $darkGray;
  transition: 150ms $sharp;

  &:focus, &:hover {
    color: rgba($darkGray, .4);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn SC', serif;
	line-height: 1.2em;
	margin: 0 0 9px;
	font-weight: normal;
	color: $darkGray;
}

h1 {
	font-size: 38px;
	line-height: 42px;
}

h2 {
	font-size: 28px;
  line-height: 37px;
}

h3 {
	font-size: 22px;
  line-height: 28px;
}

h4 {
	font-size: 22px;
	line-height: 28px;	
}

h5 {
	font-size: 16px;
	line-height: 22px;
}

p {
  margin-bottom: 1.5em;
}

form {
  max-width: 466px;
  margin: 2em auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border: 3px solid $darkGray;
  box-shadow: 0 0 10px rgba(#333, .5);

  @media (--from-tablet) {
    padding: 1.5em 2em 2em;
  }

  @media (--until-tablet) {
    padding: 1em 1em 1.5em;
  }

  h1 {
    font-size: 28px;
  }
}

input {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1em .5em .6em 0;
  font-size: 1em;
  background-color: transparent;

  &[readonly] {
    border-bottom-color: #638cad;
  }
}

.datepicker-input.datepicker-input.datepicker-input input, input {
  border: 0; 
  border-bottom: 2px solid $darkGray;
  transition: 200ms $sharp;

  &:valid {
    border-bottom-color: green;
  }

  &:focus:invalid {
    border-bottom-color: $red;
  }

  &:focus {
    outline: none;
    border-bottom-color: #638cad;
  }
}

.error {
  margin-bottom: 0;
  font-weight: bold;
  color: $red;
}

.success {
  margin-bottom: 0;
  font-weight: bold;
}

.action-button {
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  border-bottom: dashed $darkGray;
  border-bottom-width: 1px !important;
  transition: 150ms $sharp;
  
  &:hover, &:focus {
    border-color: rgba($darkGray, .5);
  }

  
  a {
    text-decoration: none;
  }
}

.form-color-picker {
  width: 130px;
  height: 130px;
  margin: 1em auto;
}

.radio-button-container {
  display: flex;
  align-items: center;
  margin-bottom: .25em;
}

.radio-button {
  display: none;
}

.radio-button + label {
  position: relative;
  padding-left: 20px;
  display: inline-block;
}

.radio-button + label:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #fff;
  box-shadow: 0 0 0 2px $darkGray;
  border: 2px solid #fff;
  border-radius: 50px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.radio-button:checked + label:before {
  box-shadow: 0 0 0 2px $red;
  background-color: $red;
}

.litter form {
  margin: 0;

  @media (--until-mobile) {
    height: 100%;
    width: 100%;
  }
}

.litter [type="submit"] {
  @media (--until-mobile) {
    margin: 3em auto 0;
  }
}

button[type="submit"] {
  margin: 2em 0 0;
}

ul {
  margin-bottom: 1.5em;
  list-style: none;
}

.datepicker-container.datepicker-container.datepicker-container {
  width: 100%;
}

.datepicker-input.datepicker-input.datepicker-input {
  margin-bottom: 1.5em;
  width: 100%;

  input {
    margin: 0;
    color: $darkGray !important;
  }

  svg {
    position: absolute;
    top: .75rem;
    right: 0;
    margin: auto;
    font-size: 24px;
    path {
      fill: $darkGray !important;
    }
  }
}


.account-transaction-item  {
  @media (--until-tablet) {

    &:not(:first-child) {
      border-top: 1px solid $darkGray;
    }
  
    &:not(:last-child) {    
      margin-bottom: 1em;
    }
  }
}

.formButtonsContainer {
  display: flex;
  align-items: center;

  .action-button:nth-child(2) {
    margin-left: 15px;
  }

  button[type="submit"] {
    margin-top: 0;
  }

  &_topOffset {
    padding-top: 2em;
    margin-top: auto;
  }
}

.base-table-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 12.5%));
  font-size: 13px;
  text-align: left;

  @media (--until-tablet) {
    flex-wrap: wrap;
  }

  > * {
    height: 100%;
    margin: 0;
    padding: .75em .75em .85em;
    display: flex;
    border: 1px solid $darkGray;
    border-top-width: 0;
    border-right-color: #979797;
    border-left-width: 0;

    &:last-child {
      border-right: 0;
    }
  }
}

.account-transaction  {
  transition: 150ms $sharp;

  @media (--until-tablet) {
    flex-wrap: wrap;
  }

  &:hover, &:focus {
    background-color: rgba($red, .1) !important;
    outline: 0;
  }

  > * {
    display: flex;
    align-items: center;

    &:last-child {
      border-right: 0;
    }
  }
}

section {
  position: relative;
}

.fields {
  margin: 0 -1em 1em;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1000;
  
  @media (--until-tablet) {
    padding: 0 1em;
    flex-flow: row wrap;
  }

  > * {

    @media (--from-tablet) {
      margin: 0 1em;
    }

    &:not(:last-child) {

      @media (--until-tablet) {
        margin-bottom: 1em;
      }
    }

    &:last-child {
      @media (--until-tablet) {
        margin: .5em auto 0;
      }
    }

    input, .datepicker-input {
      margin-bottom: 0 !important;
      background-color: transparent;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

.datepicker-holder {

  svg[data-icon="calendar-alt"] {
    display: none;
  }
}

.pagination {
  opacity: 0;
}

.litter {
  padding: 1em 1em 1.4em;
  margin: 0;
  box-shadow: 0 0 10px rgba(#333, .5);
  position: relative;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 6px;

  &_increased {
    @media (--from-tablet) {
      width: calc(100% + 1em);
    }
  }
}

.popupLitter form {
  margin: 0;

  @media (--until-tablet) {
    min-width: 100%;
  }

  > * {
    @media (--until-tablet) {
      width: 100%;
    }
  }
}

.actions {
  
  @media (--from-tablet) {
    margin-bottom: 2em;
  }
  
  @media (--until-tablet) {
    flex-wrap: wrap;
    margin-bottom: 1.25em;
  }
  
  &_near {
    margin-bottom: 1em;
    flex-wrap: wrap;

    a {
      text-decoration: none;
    }
  }
  
  input {
    margin: 0;
    background-color: transparent;
  }

  .fieldContainer {
    width: auto !important;
    margin-left: auto;

    @media (--from-tablet) {
      min-width: 360px;
    }
  }
}

.fieldContainer_inline {
  display: flex;
  align-items: center;

  @media (--until-tablet) {
    flex-wrap: wrap;
  }

  label {
    @media (--from-tablet) {
      margin-bottom: 10px;
    }
  }

  input {
    width: auto;
    margin-bottom: 0;
    padding-top: 5px;

    @media (--from-tablet) {
      margin-left: 10px;
    }

    @media (--until-tablet) {
      margin-left: 0 !important;
      width: 100%;
    }
  }
}

.roleFieldContainer {

  .dropdown-content {
    margin-top: 38px;
    top: -7px;
  }

  input {
    margin-left: 16px;
  }
}

.note {
  font-size: 13px;
  color: #8e8e8e;
}

.search-field {
  input {
    margin-bottom: 0;
  }
}

.placeholder {
  max-width: 60ch;
  margin: auto;

  &__title {
    text-align: center;
  }
}

.login-page .passwordInputContainer, .personal-room .user-note {
  margin-bottom: 0 !important;
}

.zero-margin {
  margin: 0;
}

.transaction-form {
  max-width: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    min-width: 100%;
  }

  > *:not(:first-child), .datepicker-container {
    width: max-content !important;
    
  }

  > *:not(:first-child):not(.statistics-holder) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 18px;
  }

  label {
    display: block;
  }

  .datepicker-input {
    width: max-content !important;
    flex-wrap: wrap;
  }

  .statistics-holder {
    width: 100% !important;
    margin: 0 auto;
    padding: 18px 0 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #c7c7c7;
  }

  .statistics-container {
    flex-direction: column;
    margin-right: 29px;

    label {
      align-self: flex-start;
    }

    &:nth-child(3), &:nth-child(1) {
      position: relative;

      &::after {
        position: absolute;
        bottom: 25px;
        font-size: 28px;
      }
    }

    &:nth-child(3) {
      order: -1;

      &::after {
        content: '+';
        right: -22px;
      }
    }

    &:nth-child(1) {
      &::after {
        content: '-';
        right: -20px;
      }
    }
  }

  input {
    width: 155px;
  }

  .formButtonsContainer {
    flex-direction: row !important;
    margin-left: auto;
    margin-right: auto !important;
    padding-top: 18px;
  }

  .error {
    min-width: 100%;
    margin: 0;
  }
}

.transaction-form-popup {
  max-width: 1127px;
}